@font-face {
  font-family: "Bungee-Regular";
  src: url("./Bungee/Bungee-Regular.ttf") format("truetype");
}



h1 {
	color: aquamarine;
	font-size: 50px;
	background-color: blue;
	line-height: 50px;
	padding: 55px;
	width: 500px;
	font-family: "Bungee-Regular";
	font-weight: lighter;
}

p  {	
    color: aquamarine;
	font-size: 50px;
	background-color: blue;
	line-height: 50px;
	padding: 55px;
	width: 500px;
	font-weight: bold;
} 

body {
	background-color: rgba(137, 243, 54);
}